[Unit]
Description=Stackarr
After=network-online.target docker.service
Wants=network-online.target docker.service

[Service]
User=__STACKARR_USER__
Group=__STACKARR_GROUP__
UMask=0002
Type=simple
ExecStart=__STACKARR_INSTALL_DIR__/StackarrServer -nobrowser -data=__STACKARR_DATA_DIR__
Restart=on-failure
RestartSec=5
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
